@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0b0b0d;
  color: white;
}
#tsparticles {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1 !important;
  pointer-events: none !important;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
